{% extends "base.html" %}
{% block content %}
  <h1>Dar de baja a copia de película</h1>

  <b>Película:</b> {{ d['pelicula']['titulo'] }}
  <br>
  <b>Género:</b> {{ d['pelicula']['genero'] }}
  <br>
  <b>Duración:</b> {{ d['pelicula']['duracion'] }}
  <br>
  <b>Año:</b> {{ d['pelicula']['año'] }}
  <br>
  <b>Adquicisión de la copia:</b> {{ d['copia_pelicula']['creacion'] }}
  
  <h3> Detalles de la baja </h3>
  <form method="POST" id="baja" action="/copia_pelicula/baja/{{ d['copia_pelicula']['_id'] }}">
    Razón:
    <input type="text" id="razon" name="razon" minlength="4" value="">
    <br>
    Año:
    <input type="text" id="año" name="año" minlength="4" maxlength="4" value="2020">
    <br>
    Mes:
    <input type="text" id="mes" name="mes" maxlength="2" minlength="2" value="04">
    <br>
    Día:
    <input type="text" id="dia" name="dia" maxlength="2" minlength=2 value="01">
    <br>    
    <!-- Agregar nominaciones y Actores -->
    <input type="submit" value="REGISTRAR BAJA"/>
  </form>
{% endblock %}
