{% extends "base.html" %}
{% block content %}
<h1>Actualizar datos de Cliente</h1>
<form method="POST" id="baja" action="/cliente/edit/{{ d['cliente']['_id'] }}">
  <b>Nombres:</b>
  <input type="text" id="nombres" name="nombres" minlength="2" value="{{ d['cliente']['nombres'] }}">
  <br>
  <b>Ap. Paterno:</b>
  <input type="text" id="ap_paterno" name="ap_paterno" minlength="2" value="{{ d['cliente']['ap_paterno'] }}">
  <br>
  <b>Ap. Materno:</b>
  <input type="text" id="ap_materno" name="ap_materno" minlength="2" value="{{ d['cliente']['ap_materno'] }}">
  <br>
  <b>C.I.:</b>
  <input type="text" id="ci" name="ci" minlength="5" value="{{ d['cliente']['ci'] }}">
  <br>
  <b>fecha Nacimiento (DD/MM/AAAA):</b>
  <input type="text" id="fecha_nacimiento" name="fecha_nacimiento" minlength="10" value="{{ d['cliente']['fecha_nacimiento'] }}">
  <br>
  <b>email:</b>
  <input type="email" id="email" name="email" value="{{ d['cliente']['email'] }}">
  <br>
  <b>Dirección:</b>
  <input type="text" id="direccion" name="direccion" value="{{ d['cliente']['direccion'] }}">
  <br>
  <b>Geolocalización (latitud):</b>
  <input type="text" id="latitud" name="latitud" value="{{ d['cliente']['latitud'] }}">
  <br>
  <b>Geolocalización (longitud):</b>
  <input type="text" id="longitud" name="longitud" value="{{ d['cliente']['longitud'] }}">
  <div>
    <input type="submit" value="ACTUALIZAR">
  </div>
  {% if d['cliente']['bajas'] %}
    <h3>Este cliente ha sido vetado al menos una vez</h3>
    <ul>
    {% for baja in d['cliente']['bajas'] %}
      <li>
        <b>Razón:</b> {{ baja['razon'] }}
        <b> registrada en:</b>{{ baja['fecha'] }}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
</form>
<h2>Betar cliente:</h2>
<form method="POST" id="baja" action="/cliente/baja/{{ d['cliente']['_id'] }}">
  <b>Razón:</b>
  <input type="text" id="razon" name="razon" minlength="4" value="">
  <input type="submit" value="BETAR">
</form>
<h2>Dar de alta:</h2>
<form method="POST" id="alta" action="/cliente/alta/{{ d['cliente']['_id'] }}">
  <b>Razón:</b>
  <input type="text" id="razon" name="razon" minlength="4" value="">
  <input type="submit" value="DAR DE ALTA">
</form>
{% endblock %}
