{% extends "base.html" %}
{% block content %}
  <h1>Costos y descuentos</h1>

  <h2> Editar</h2>
  <form method="POST" id="editar" action="/costos">
    <h3>Costos de préstamos</h3>
    {% for costo in costos_y_descuentos['costos'] %}
      <br>
      <b>Días:</b>
      <input type="text"
             id="{{ costo['id'] }}_cantidad"
             name="cantidad_{{ costo['id'] }}"
             minlength=1
             value="{{ costo['cantidad']|int }}">
      <b>Costo:</b>
      <input
        type="text"
        id="costo_{{ costo['id'] }}"
        name="costo_{{ costo['id'] }}"
        minlength=1
        value="{{ costo['costo'] }}">
    {% endfor %}
    <h3>Descuentos</h3>
    {% for descuento in costos_y_descuentos['descuentos'] %}
      <br>
      <b>Días mínimos:</b>
      <input
        type="text"
        id="minima_{{ descuento['id'] }}"
        name="minima_{{ descuento['id'] }}"
        minlength=1
        value="{{ descuento['cantidad_minima']|int }}">
      <b>Días máximos:</b>
      <input
        type="text"
        id="maxima_{{ descuento['id'] }}"
        name="maxima_{{ descuento['id'] }}"
        minlength=1
        value="{{ descuento['cantidad_maxima']|int }}">
      <b>Descuento:</b>
      <input type="text"
             id="descuento_{{ descuento['id'] }}"
             name="descuento_{{ descuento['id'] }}"
             minlength=3
             value="{{ descuento['descuento'] }}">
    {% endfor %}
    <div>
      <input type="submit" value="ACTUALIZAR"/>
    </div>
  </form>
{% endblock %}
