{% extends "base.html" %}
{% block content %}
  <h1>Registrar nuevo cliente</h1>
  <form method="POST" id="baja" action="/cliente/add">
    <b>Nombres:</b>
    <input type="text" id="nombres" name="nombres" minlength="2" value="">
    <br>
    <b>Ap. Paterno:</b>
    <input type="text" id="ap_paterno" name="ap_paterno" minlength="2" value="">
    <br>
    <b>Ap. Materno:</b>
    <input type="text" id="ap_materno" name="ap_materno" minlength="2" value="">
    <br>
    <b>C.I.:</b>
    <input type="text" id="ci" name="ci" minlength="5" value="">
    <br>
    <b>fecha Nacimiento (DD/MM/AAAA):</b>
    <input type="text" id="fecha_nacimiento" name="fecha_nacimiento" minlength="10" value="">
    <br>
    <b>email:</b>
    <input type="email" id="email" name="email" value="">
    <br>
    <b>Dirección:</b>
    <input type="text" id="direccion" name="direccion" value="">
    <br>
    <b>Geolocalización (latitud):</b>
    <input type="text" id="latitud" name="latitud" value="">
    <br>
    <b>Geolocalización (longitud):</b>
    <input type="text" id="longitud" name="longitud" value="">
    <div>
      <input type="submit" value="REGISTRAR">
    </div>
  </form>
{% endblock %}
