{% extends "base.html" %}
{% block content %}
  <h1>Factura Préstamo de película</h1>
  <hr>
  <h3>Películas</h3>
  <ul>
    {% for copia in prestamo['copias_peliculas'] %}
      <li>
        <a href="/pelicula/editar/{{ copia['copia_pelicula'] }}">{{ copia['copia_pelicula_titulo'] }}</a>
      </li>
    {% endfor %}
  </ul>
  <h3>Cliente</h3>
  <a href="/cliente/edit/{{ prestamo['cliente'] }}">{{ prestamo['cliente_nombres'] }} {{ prestamo['cliente_ap_paterno'] }} {{ prestamo['clinete_ap_materno'] }} (CI: {{ prestamo['cliente_ci'] }})</a>
  <h3>Fecha Préstamo</h3>
  {{ prestamo['fecha_prestamo'] }}
  <h3>Diás Préstamo</h3>
  {{ prestamo['dias_prestamo']|int }}
  <h3>Monto</h3>
  {{ prestamo['pago']['monto'] }}
  <h3>Fecha de pago</h3>
  {{ prestamo['pago']['fecha_pago'] }}
  <hr>
  <h4>No: {{ prestamo['_id'] }}</h4>
{% endblock %}
