<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
      {% if title -%}
        {{title}}
      {% else %}
        Videoclub - Inicio--
      {% endif %}
    </title>
    <style>
     body: {
       background-color: "#c1c1c1";
     }
     table {
       border: 1px solid black;
     }
     table td {
       border: 1px dashed black;
     }
    </style>
  </head>

  <body>
    <div>
      <a href="/peliculas">PELÍCULAS</a> |
      <a href="/clientes">CLIENTES</a> |
      <a href="/copia_peliculas">COPIAS PELÍCULAS</a> |
      <a href="/prestamos">PRÉSTAMOS</a>
    </div>
    {% block content %}
    {% endblock %}
  </body>
</html>
